<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Management</title>
    <link rel="icon" th:href="@{/images/logo.svg}" />
    <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap"
      rel="stylesheet" />
    <link th:href="@{/css/view-style.css}" rel="stylesheet" />
    <link th:href="@{/css/input-table-style.css}" rel="stylesheet" />
    <link th:href="@{/css/header-footer-style.css}" rel="stylesheet" />
    <link th:href="@{/css/button-style.css}" rel="stylesheet" />
    <link th:href="@{/css/admin-table-style.css}" rel="stylesheet" />
    <link th:href="@{/css/edit-button-style.css}" rel="stylesheet" />
    <link th:href="@{/css/auditorium-style.css}" rel="stylesheet" />
  </head>
  <body class="full-height-grow">
    <header>
      <div th:insert="fragments/admin-header.html :: div"></div>
    </header>
    <section class="landing">
      <div class="dashboard"></div>
      <div class="container">
        <div class="table-name">
          <p>User</p>
        </div>
        <div class="table-plate">
          <div class="form-table">
            <form class="input-id" th:action="@{/admin/edit/adduser}" th:object="${user}" method="post">
              <div class="input-interval">
              
                <div th:if="${user.id != null}" class="timer">
                  <div class="start-time">
                    <input type="number" th:field="*{id}" autocomplete="off" placeholder="1" readonly="readonly" />
                    <label for="name" class="label-input">
                      <span class="content-name">ID: read only</span>
                    </label>
                  </div>
                </div>

                <div class="starts" th:if="${user.id != null}">
                  <input type="text" th:field="*{email}" autocomplete="off" placeholder="1" readonly="readonly" />
                  <label for="name" class="label-input">
                    <span class="content-name">Email address: read only</span>
                  </label>
                </div>
                
                <div class="starts" th:unless="${user.id != null}">
                  <input type="text" th:field="*{email}" autocomplete="off" placeholder="1" />
                  <label for="name" class="label-input">
                    <span class="content-name">Email address</span>
                  </label>
                </div>
                
  				<div th:if="${user.id == null}" class="length">
                  <input type="text" th:field="*{password}" autocomplete="off" placeholder="1" />
                  <label for="name" class="label-input">
                    <span class="content-name">Password</span>
                  </label>
                </div>
                <div class="user-type">
                  <div class="role">
                    <select class="add select" th:field="*{role}" >
                      <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
                    </select>
                    <label for="name" class="label-select">
                      <span class="content-select">Role</span>
                    </label>
                  </div>

                  <div class="type">
                    <select class="add select" th:field="*{type}">
                      <option th:each="type : ${types}" th:value="${type}" th:text="${type}"></option>
                    </select>
                    <label for="name" class="label-select">
                      <span class="content-select">Type</span>
                    </label>
                  </div>
                </div>

                <div class="create-btn">
                  <button class="btn update">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <div th:if="${user.id != null}" class="delete-btn">
            <a th:href="@{/admin/edit/deleteuser/{id}(id=${user.id})}" class="iconbtn-medium far fa-trash-alt"></a>
          </div>
          <div class="message">
            <p th:text="${message}"></p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div th:insert="fragments/admin-footer.html :: div"></div>
    </footer>
  </body>
</html>
