<div class="main-header">
  <a th:href="@{/admin/}" class="brand-logo">
      <img th:src="@{/images/logo.svg}" />
    <div class="brand-logo-name">Management</div>
  </a>
  <nav class="main-nav">
    <ul class="nav-links">
      <li><a th:href="@{/admin/view/student}">Student</a></li>
      <li><a th:href="@{/admin/view/teacher}">Teacher</a></li>
      <li><a th:href="@{/admin/view/user}">User</a></li>
      <li><a th:href="@{/admin/view/auditorium}">Auditorium</a></li>
      <li><a th:href="@{/admin/view/class}">Class</a></li>
      <li><a th:href="@{/admin/view/course}">Course</a></li>
      <li><a th:href="@{/admin/view/table}">Table</a></li>
      <li><a th:href="@{/admin/view/group}">Group</a></li>
    </ul>
  </nav>
</div>