* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(
      to right bottom,
      rgba(11, 23, 42, 0.9),
      rgba(70, 57, 64, 0.8)
    ),
    url("../images/index-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landing {
  z-index: 2;
  height: 80vh;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  overflow: auto;
}

.container {
  width: 1200px;
  min-width: 760px;
  padding: 2rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-plate {
  position: relative;
  background-color: rgba(255, 255, 255, 0.98);
  padding: 7rem 4rem 40px;
  border-radius: 5px;
  margin: -3.7rem 20% 0;
  z-index: 1;
  min-width: 100%;
  max-height: 800px;
  min-height: 600px;
  color: rgba(11, 23, 42, 0.95);
}

.table-name {
  z-index: 2;
  position: flex;
  background-color: #bc4123;
  border-radius: 5px;
  height: 5rem;
  width: 96%;
  box-shadow: 10px 11px 15px 0px rgba(11, 23, 42, 0.25);
}

.table-name p {
  padding: 1.5rem;
  font-size: 1.1em;
}

.first-name,
.last-name,
.email,
.role,
.group, .password {
  width: 50%;
  position: relative;
  height: 50px;
  overflow: hidden;
}

.first-name,
.email,
.group {
  margin-right: 2rem;
}

.last-name,
.role,
.password,
.role {
  margin-left: 2rem;
}
.user-email,
.user-name {
  margin-top: 2rem;
}

.student-group {
  margin-top: 1.9rem;
}

.first-name input,
.last-name input,
.email input,
.password input,
.role select,
.group select,
.role select {
  font-size: 1.1em;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  border: none;
  background: none;
  outline: none;
}

.role select,
.group select {
  border-bottom: 1px solid #dddddd;
  font-weight: 300;
}
.label-select {
  position: absolute;
  font-size: 12px;
  color: #bc4123;
}
.form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #dddddd;
}
.user-name,
.user-email,
.student-group {
  display: flex;
  width: 100%;
}

.form label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid rgb(27, 35, 49);
  transform: translateX(-101%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.message {
  diaplay: flex;
  padding-top: 10rem;
  text-align: center;	
  color: #bc4123;
  font-weight: 500;
  font-size: 1.1em;
  letter-spacing: 2px;
  word-spacing: 3px;
}

h2 {
  margin: 30px;
  font-size: 3.2em;;
  letter-spacing: 4px;
}
.quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-bottom: 4rem;
}

.benjamin {
  font-weight: 500;
  font-size: 1.3em;
  margin-bottom: 2rem;
}

.sing {
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
}

.form input:focus + .label-first-name .content-name,
.form input:not(:placeholder-shown) + .label-first-name .content-name {
  transform: translateY(-150%);
  font-size: 12px;
  color: #bc4123;
}

.form input:focus + .label-first-name::after,
.form input:not(:placeholder-shown) + .label-first-name::after {
  transform: translateX(0%);
}

::placeholder {
  color: white;
}

@keyframes ro {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
